name: "Check And Build MobileVLC xcframework"

on:
  push:
    branches: ["master"]
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write
  packages: read

jobs:
  update:
    name: "Check for updates"
    runs-on: macos-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_BRANCH: "master"
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Update Script
        run: |
          python CocoapodConvert.py
