name: "Check And Build MobileVLC xcframework"

on:
  push:
    branches: ["main"]
  schedule:
    - cron: "18 18 * * *"
  workflow_dispatch:

permissions:
  packages: read
  contents: write

jobs:
  query:
    name: "Check for updates"
    runs-on: macos-15
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout Source
        id: checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4.1.1
      - name: "Get latest release"
        id: query
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "================================================="
          echo "env"
          env
          echo "================================================="
          echo "pwd"
          pwd
          echo "================================================="
          echo "ls -lah"
          ls -lah
          echo "================================================="
          echo "ls -lah /Users/runner/work/MobileVLCKit-SPM"
          ls -lah /Users/runner/work/MobileVLCKit-SPM/
          echo "================================================="
          pip install requests beautifulsoup4 PyGithub
          python /Users/runner/work/MobileVLCKit-SPM/CocoapodConvert.py